<!-- As a link -->
<nav class="navbar navbar-expand-md py-3 navbar-dark" style="background-color: #9c218a;">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" href="#">SeniorCare</a>
    </div>
</nav>